* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: transparent;
  outline: none;
}
textarea {
  resize: vertical;
  /* none Размеры элемента не изменяются.
  both Можно изменять размеры элемента по горизонтали и вертикали.
  horizontal Можно изменять размеры элемента только по горизонтали.
  vertical ожно изменять размеры элемента только по вертикали.
  inherit Наследует значение родителя. */
}
.container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
/*Модалка для входа на сайт*/
.overlay {
  display: none;
  position:fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
.overlay_active {
  display: block;
}
.modal {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px; /*Обратить внимание при адаптации*/
  min-height: 370px;
  padding: 50px;
  border: 1px solid #6b6c6e;
}
.modal > .modal__subtitle {
  font-size: 25px;
  margin-bottom: 25px;
}
.form {
  max-width: 450px;
}
.form > .form__label {
  display: block;
  margin-bottom: 20px;
}
.form > .form__label > .form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin: 5px 0 0;
}
.form > .form__button {
  display: block;
  margin-left: auto;
  width: 130px;
  height: 40px;
  background: #1c51bb;
  color: #ffffff;
  font-size: 18px;
}
/*todo страница*/
.todo {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1140px; /*Обратить внимание при адаптации*/
}
.todo > .todo__title {
  text-transform: uppercase;
  text-align: center;
}
/* Текстарея по добавлению новой задачи */
.add {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.add > .add__input {
  width: 76.5%; /*зависит от размера todo, начало 975px*/
  height: 35px;
  line-height: 35px;
  border: none;
  border-bottom: 2px solid #6b6c6e;
  margin-right: 65px;
}
.add > .add__button {
  width: 120px;
  height: 50px;
  background: #618fec;
  text-transform: uppercase;
  color: #ffffff;
}
/* ПАНЕЛЬ СОРТИРОВКА*/
.sort-panel {
  display: flex;
  width: 100%;
}
.triggers-data {
  width: 11.9%; /*зависит от размера todo, начало 135px*/
}
.triggers-data > .triggers-data__top, .triggers-data > .triggers-data__bottom {
  width: 27px;
  height: 20px;
  margin: 0 auto;
}
.triggers-data > .triggers-data__top > img, .triggers-data > .triggers-data__bottom > img {
  width: 100%;
}


.triggers-priority {
  width: 8.8%; /*зависит от размера todo, начало 100px*/
}
.triggers-priority {
  text-align: center;
  color: #6b6c6e;
  font-weight: 700;
}
.triggers-priority > .priority-sort__top, .triggers-priority > .priority-sort__bottom {
  width: 27px;
  height: 9px;
  margin: 0 auto;
  display: flex;
}
.triggers-priority > .priority-sort__top > img, .triggers-priority > .priority-sort__bottom > img {
  width: 100%;
  height: 85%;
}
.search {
  width: 52.7%; /*зависит от размера todo, начало 600px*/
  height: 35px;
  display: flex;
  border-bottom: 1px solid #6b6c6e;
}
.search > .search__logo {
  width: 30px;
  height: 30px;
}
.search > .search__logo > img {
  width: 100%;
}
.search-form {
  width: 94.8%; /*процент от search, начало 570px*/
}
.search-form > .search__input {
  width: 100%;
  height: 30px;
  border: none;
}
.filters-labels {
  width: 26.6%; /*зависит от размера todo, начало 305px*/
}
.filters-labels > .filters-labels__icons {
  width: 35px;
  margin: 0 auto;
}
.filters-labels > .filters-labels__icons > img {
  width: 100%;
}